<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
    <logger name="org.apache.camel" level="INFO" />
	<logger name="ch.qos.logback" level="OFF" />
    <logger name="com.zenika" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>